
// 共通
@import url(https://fonts.googleapis.com/css?family=Nunito);
@import "reset";
@import "colors";

// これだけでfooterが柔軟に固定される？
html{
  min-height:100%;   // 最小高さの設定
  position: relative;
}
body{
  background-color:$light-silver;
}



