$gray: gray;
$silver: silver;
$light-silver: #f2f2f2;
$green: #04b431;
$red: #fe2e64;
$link-blue: #5882fa;
$link-red: #fa5858;
$light-red: #f8e0e0;
$light-blue: #292f35;

$base: #f2f2f2;
$main: #5882fa;
$main-half: #cee3f6;
$accent: #fa5858;
$accent-half: #f8e0e0;
$white: #fff;
$black: #2e2e2e;
$black-half: silver;

.c-white { color: $white; }
.bg-white { background: $white; }

.c-black { color: $black; }
.bg-black { background: $black; }

.c-black-half { color: $black-half; }
.bg-black-half { background: $black-half; }

.c-base { color: $base; }
.bg-base { background: $base; }

.c-main { color: $main; }
.bg-main { background: $main; }

.c-main-half { color: $main-half; }
.bg-main-half { background: $main-half; }

.c-accent { color: $accent; }
.bg-accent { background: $accent; }

.c-accent-half { color: $accent-half; }
.bg-accent-half { background: $accent-half; }
