/*====================
レスポンシブ表示系
=====================*/
/* PC */
@media screen and (min-width: 640px){
    .sp{ display: none !important; }
    [class*="sp-"]{ display: none !important; }
}
/* スマホ */
@media screen and (max-width: 640px){
    .pc{ display: none !important; }
    [class*="pc-"]{ display: none !important; }
}
/*====================
グリッド系
=====================*/
.container-fluid {
    width: 100%;
    padding: 0 !important;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 !important;
    [class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
/*====================
flex系
=====================*/
[class*="flex"]{ display: flex !important; }
/* 並び */
[class*="flex-row"]{ flex-direction: row !important; }
[class*="flex-column"]{ flex-direction: column !important; }
.flex-reverse{ flex-direction: reverse !important; }
/* 横 */
.flex-left{ justify-content: flex-start !important; }
.flex-right{ justify-content: flex-end !important; }
.flex-x-center{ justify-content: center !important; }
/* 縦 */
.flex-top{ align-items: flex-start !important; }
.flex-bottom{ align-items: flex-end !important; }
.flex-y-center{ align-items: center !important; }
/* 主軸 */
[class*="flex-justify-between"]{ justify-content: space-between !important; }
[class*="flex-justify-around"]{ justify-content: space-around !important; }
/* 主軸に対して交差する軸 */
[class*="flex-align-between"]{ align-content: space-between !important; }
[class*="flex-align-around"]{ align-content: space-around !important; }
/* 折り返し */
.flex-wrap{ flex-wrap: wrap !important; }
.flex-nowrap{ flex-wrap: nowrap !important; }
.flex-wrap-reverse{ flex-wrap: wrap-reverse !important; }
/* 並び・折り返し */
.flex-row-wrap{ flex-flow: row wrap !important; }
.flex-column-wrap{ flex-flow: column wrap !important; }
/*====================
width系
=====================*/
[class*="wm-"]{ margin: 0 auto !important; }

@for $i from 1 to 100 {
    .w-#{$i},
    .wm-#{$i} { width: $i * 1% !important; }
}
/*====================
padding系
=====================*/
.p-025{ padding: 0.25rem !important; }
.p-05{ padding: 0.5rem !important; }
// 左
.pl-025,
.px-025{ padding-left: 0.25rem !important; }
.pl-05,
.px-05{ padding-left: 0.5rem !important; }
// 右
.pr-025,
.px-025{ padding-right: 0.25rem !important; }
.pr-05,
.px-05{ padding-right: 0.5rem !important; }
// 上
.pt-025,
.py-025{ padding-top: 0.25rem !important; }
.pt-05,
.py-05{ padding-top: 0.5rem !important; }
// 下
.pb-025,
.py-025{ padding-bottom: 0.25rem !important; }
.pb-05,
.py-05{ padding-bottom: 0.5rem !important; }

@for $i from 1 to 10 {

    .p-#{$i} { padding: $i * 1rem !important; }
    .pl-#{$i},
    .px-#{$i} { padding-left: $i * 1rem !important; }
    .pr-#{$i},
    .px-#{$i} { padding-right: $i * 1rem !important; }
    .pt-#{$i},
    .py-#{$i} { padding-top: $i * 1rem !important; }
    .pb-#{$i},
    .py-#{$i} { padding-bottom: $i * 1rem !important; }
}
/*====================
margin系
=====================*/
.m-025{ margin: 0.25rem !important; }
.m-05{ margin: 0.5rem !important; }
// 左
.ml-025,
.mx-025{ margin-left: 0.25rem !important; }
.ml-05,
.mx-05{ margin-left: 0.5rem !important; }
// 右
.mr-025,
.mx-025{ margin-right: 0.25rem !important; }
.mr-05,
.mx-05{ margin-right: 0.5rem !important; }
// 上
.mt-025,
.my-025{ margin-top: 0.25rem !important; }
.mt-05,
.my-05{ margin-top: 0.5rem !important; }
// 下
.mb-025,
.my-025{ margin-bottom: 0.25rem !important; }
.mb-05,
.my-05{ margin-bottom: 0.5rem !important; }

@for $i from 1 to 10 {

    .m-#{$i} { margin: $i * 1rem !important; }
    .ml-#{$i},
    .mx-#{$i} { margin-left: $i * 1rem !important; }
    .mr-#{$i},
    .mx-#{$i} { margin-right: $i * 1rem !important; }
    .mt-#{$i},
    .my-#{$i} { margin-top: $i * 1rem !important; }
    .mb-#{$i},
    .my-#{$i} { margin-bottom: $i * 1rem !important; }
}
/*====================
font系
=====================*/
[class*="b-font"]{ font-weight: bold !important; }

@for $i from 1 to 100 {

    [class*="font-#{$i}"] { font-size: $i * 1px !important; }
    .letter-#{$i} { letter-spacing: $i * 1px !important; }
}
/*====================
border系
=====================*/
@for $i from 1 to 50 {

    .solid-white-#{$i}{ border: $i * 1px solid $white; }
    .solid-main-#{$i}{ border: $i * 1px solid $main; }
    .solid-accent-#{$i}{ border: $i * 1px solid $accent; }
    .dashed-main-#{$i}{ border: $i * 1px dashed $main; }
    .dashed-accent-#{$i}{ border: $i * 1px dashed $accent; }

    .t-dashed-silver-#{$i}{ border-top: $i * 1px dashed $silver; }
    .b-dashed-silver-#{$i}{ border-bottom: $i * 1px dashed $silver; }
    .t-solid-silver-#{$i}{ border-top: $i * 1px solid $silver; }
    .b-solid-silver-#{$i}{ border-bottom: $i * 1px solid $silver; }

    .radius-#{$i}{ border-radius: $i * 1px; }
}
// スクロール系
// shadow系


/*====================
装飾
=====================*/
.pointer { cursor: pointer !important; }

// モーダル用(画面全体を覆う設定)
.modal-default{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
}

// 文字を...に変換
.dot{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
